.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation2d {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes rotation3d {
  from {
    transform: rotate3d(0,0,0, 0deg);
  }
  to {
    transform: rotate3d(0,1,0, 360deg);
  }
}

/* HEADER 
  =====================================================
*/

.page-header, .page-footer
{
  background-color: #003412;
  width: 100%;
}

.page-header {
  position:fixed;
  top:0;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  border-bottom: 3px solid #ffffff77;
}

/* Header links for different screen sizes */

@media(max-width: 320px) {
  .link {
    margin-inline: 1vw;
  }
}

@media(min-width: 321px) and (max-width: 720px) {
  .link {
    margin-inline: 2vw;
  }
}


@media(min-width: 721px) and (max-width: 992px) {
  .link {
    margin-inline: 3vw;
  }
}

/* link */
.link {
  color: #ff6600;
  text-decoration: none;
  margin-inline: 4vw;
  display: inline-block;
  transition: transform 500ms;
}

.link:hover
{
  font-weight: bold;
  color: #ffdd11;
  cursor: pointer;
}

.link:not(.no-rotation):hover {
  animation: rotation2d 2s infinite linear;
}

span.basket-size, span.my-clients-orders-size
{
  background-color: #55aaee;
  color: #ffffff;
  padding: 5px;
  border-radius: 50%;
  font-weight: bold;
  font-size: calc(8px + 1vmin);
}

/* MAIN 
   =======================================================
*/

main 
{
  min-height: 85vh;
  margin-top: 17vh;
}

/* POPUPS
  ========================================================
*/

.popup-background
{
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.popup
{
  max-width: 90vw;
  border-radius: 20px;
  border: 1px dotted #00000077;
  overflow: hidden;
}

.answerQuestionPopup .popupContent *, .deleteQuestionPopup .popupContent *, .orderActionPopup .popupContent *, .deleteOneFavoritePopup .popupContent *, 
.deleteAllFavoritesPopup .popupContent *
{
  max-width: 100%;
}

.orderActionPopup .popupContent, .deleteQuestionPopup .popupContent, .deleteOneFavoritePopup .popupContent, .deleteAllFavoritesPopup .popupContent
{
  margin-top: -20px;
  padding: 5px;
}

.popupHeader
{
  text-align: center;
  background-color: #003412;
  width: 100%;
  position: relative;
  border: 1px dotted #ffddcc;
  color: #ffffff;
  font-weight: bold;
}

.popupContent
{
  background-color: #ffddcc;
  color: #002233;
}

.popupIcon
{
  position: absolute;
  left: 7px;
}

.popupTopButtons
{
  position: absolute;
  right: 7px;
}


/* FORMS
  ====================================================================
 */

.c-form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-form input, .c-form textarea
{
  height: 50px;
}

.c-form input, .c-form textarea, .c-form div.StripeElement, .c-form select
{
  text-align: center;
  margin-block: 5px;
  width: 500px;
  max-width: 80vw;
  border-radius: 5vh;
  color: #00aa99;
  font-size: 20px;
}

.c-form textarea
{
  resize: vertical;
}

.c-form input:focus, .c-form textarea:focus
{
  border: 2px solid #993412;
}

.c-form input[type=submit]
{
  background-color: #003412;
  color: #ffffff;
}

.c-form div.error {
  color: #cc0000;
  font-weight: bold;
}


/* BUTTONS
   =========================================================================
 */

a.button
{
  text-decoration: none;
  background-color: #ff6600;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

a.button:hover
{
  cursor: pointer;
  font-weight: bold;
  color: #ffdd11;
}

a.confirm-button, a.add-favorite-button
{
  background-color: #009900;
}

a.confirm-button:hover, a.add-favorite-button:hover
{
  color: #00ff00;
}

a.cancel-button, a.delete-favorite-button
{
  background-color: #990000;
}

a.cancel-button:hover, a.delete-favorite-button:hover
{
  color: #ffaaaa;
}

section.top-buttons, section.advert-buttons, section.avatar-buttons {
  margin-bottom: 15px;
}

section.avatar-buttons {
  margin-top: 15px;
}

section.bottom-buttons
{
  margin-top: 15px;
  margin-bottom: 20px;
}

/**
  PROFILE PAGE
  */

section.profile-avatar
{
  border: 1px solid #00000077;
  border-radius: 10px;
}

section.profile-avatar, section.profile-avatar div
{
  width: 320px;
  height: 320px;
  max-width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.profile-avatar img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%
}

/* ADVERTS PAGES
   ==============================================================================
 */

ul.adverts, ul.basket-content, ul.advert-questions, ul.orders-list, ul.order-delivery, ul.order-delivery-address, ul.order-quantity-and-price, ul.order-state,
ul.order-date-and-author
{
  padding: 0;
  list-style-type: none;
}

li.advert-item
{
  border: 1px solid #00000077;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 5px;
  margin-block: 5px;
  overflow: hidden;
}

li.advert-item, li.basket-item, li.order-item {
  transition: background-color 500ms;
}

li.advert-item:hover, li.basket-item:hover, li.order-item:hover {
  background-color: #ffbe0077;
}

header.advert-title
{
  background-color: #003412;
  text-align: center;
  font-weight: bold;
  color: #ff6600;
  width: 100%;
  padding: 0 10px;
}

footer.advert-links
{
  padding: 15px;
}

footer.advert-links > *, div.basket-buttons > *, section.orders-buttons > *, div.my-clients-orders-buttons > *, footer.order-item-buttons > *, div.popupButtons > *
{
  margin-inline: 5px;
  margin-block: 5px;
  display: inline-block;
}

@media(max-width: 576px) {
  article.advert-page {
    padding: 0 5px;
  }
}

article.advert-page h2
{
  color: #ff6600;
  font-size: 48px;
  margin-bottom: 0px;
}

section.advert-descr
{
  font-size: 20px;
}

section.advert-state
{
  padding-bottom: 10px;
  border-bottom: 1px dotted #00000077;
}

section.advert-state *
{
  margin-inline: 5px;
  margin-block: 5px;
}

span.advert-state-title
{
  font-weight: bold;
}

section.advert-author-and-date
{
  padding: 5px 0;
  border-bottom: 1px dotted #00000077;
  margin-bottom: 10px;
}

div.advert-nb-of-items, div.advert-no-more-items
{
  margin-bottom: 10px;
}

div.advert-picture
{

  height: 300px;
  width: 300px;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.advert-picture div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.advert-picture img, div.advert-picture div img
{
  width: auto;
  height: auto;
  max-height: 100%;
}

div.advert-picture img:hover, div.advert-picture div img:hover {
  animation: rotation3d 2s infinite linear;
}

section.advert-picture-big
{
  border: 1px dotted #00000077;
  border-radius: 10px;
  overflow: hidden;
}

section.advert-picture-big, section.advert-picture-big div
{
  width: 640px;
  max-width: 95vw;
  height: 640px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.advert-picture-big img
{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

section.advert-author-and-date span[class^=advert]
{
  margin-inline: 10px;
  margin-block: 5px;
}

section.advert-price
{
  font-size: 48px;
  font-weight: bold;
  color: #012377;
}

ul.advert-questions
{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

li.advert-question-item, li.answer-to-question-item
{
  display: flex;
  flex-direction: row;
  width: 800px;
  max-width: 95vw;
  border: 1px dotted #00000077;
  border-radius: 10px;
  margin-block: 5px;
}

li.answer-to-question-item
{
  flex-direction: row-reverse;
  background-color: #ccffcc;
}

div.advert-question-asked-by-avatar, div.answered-by-avatar
{
  width: 125px;
  padding: 5px;
  border-right: 1px dotted #00000077;
}

div.advert-question-asked-by-avatar
{
  border-right: 1px dotted #00000077;
}

div.answered-by-avatar
{
  border-left: 1px dotted #00000077;
}

div.advert-question-asked-by-avatar img, div.answered-by-avatar img
{
  width: 100%;
  max-width: 20vw;
}

div.advert-question-date-and-author, div.answer-to-question-date-and-author, ul.order-date-and-author
{
  border-bottom: 1px dotted #00000077;
}

header.order-title
{
  text-align: center;
  width: 100%;
}

header.order-title a
{
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

header.order-title a:hover
{
  color: #00aa99;
}

ul.order-date-and-author li
{
  display: inline-block;
  margin-inline: 10px;
  margin-block: 5px;
}

ul.order-state
{
  margin-top: 10px;
}

div.advert-question-data, div.answer-to-question-data
{
  flex: 1;
}

div.advert-question-date-and-author > *, div.answer-to-question-date-and-author > *
{
  margin-inline: 10px;
  margin-block: 5px;
}

div.advert-question-content
{
  min-height: 125px;
}

div.advert-question-buttons
{
  text-align: right;
  padding-top: 15px;
  padding-right: 5px;
  margin: 15px 0;
  border-top: 1px dotted #00000077;
}

div.advert-question-buttons > *, div.orders-buttons > *, div.my-clients-orders-buttons > *
{
  margin-inline: 5px;
  margin-block: 5px;
}

footer.order-item-buttons
{
  border-top: 1px dotted #00000077;
  text-align: right;
}

section.basket-page, ul.orders-list
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.orders-list
{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
}


li.basket-item, li.order-item
{
  display: flex;
  flex-direction: row;
  border: 1px dotted #000000ff;
  border-radius: 10px;
  overflow: hidden;
  margin-block: 5px;
  width: 480px;
  max-width: 95vw;
}

div.basket-item-pict, div.basket-item-pict div, div.order-item-pict, div.order-item-pict div {
  width: 150px;
  max-width: 25vw;
}

div.basket-item-pict img, div.order-item-pict img
{
  max-width: 100%;
}

div.basket-item-details, div.order-item-details
{
  flex: 1;
  border-left: 1px solid #00000077;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

ul.order-delivery-address
{
  margin-top: 10px;
  margin-bottom: 10px;
}

div.basket-price-and-buttons
{
  margin-bottom: 20px;
}

/* FOOTER */

.page-footer {
  bottom: 0;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}